{% if not current_user.is_authenticated %}
    <div>
        <a class="navbar-brand" href="{{ url_for('login') }}">Login</a>
        <a class="navbar-brand" href="{{ url_for('register') }}">Cadastrar</a>
    </div>
{% else %}
    <div>
        <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
        <a class="navbar-brand" href="">Devedores</a>
        <a class="navbar-brand" href="{{ url_for('account') }}">Conta</a>
    </div>
    <a class="navbar-brand" href="{{ url_for('logout') }}">Sair</a>
{% endif %}